.owm-current-weather {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.station-name {
    font-weight: 600;
    font-size: 1.25rem;
    color: rgb(57, 107, 174);
}

.weather-text h6 {
    font-size: 1.375rem;
    color: rgb(123, 152, 178);
}

.weather-icon {
    color: #BBDEFB;
    font-size: 6rem;
}

.temperature__measured {
    font-size: 7rem;
    color: rgb(74, 111, 161);
    line-height: 1;
    font-weight: 200;
}

.temperature__measured sup {
    line-height: 0;
}

.weather {
    /* display: grid; */
    /* justify-content: center; */
    /* align-items: baseline; */
    /* flex-direction: column; */

    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-gap: 10px; */


    /* temporary property for visualization */
    /* height: 150px; */
}

/* .weather__upper {
    display: flex;
    justify-content: center;
}

.weather__lower {
    display: flex;
    justify-content: center;
} */

.weather__icon {
    /* font-size: 8em; */
    /* display: flex; */
    /* justify-content: center; */
}

.weather__text {
    /* font-size: 2em; */
    /* text-align: center; */
}

.temperature {
    /* margin-left: 30px; */
}

.temperature__measured {
    /* font-size: 5em; */
    /* text-align: center; */
}

.temperature__feelslike {
    /* font-size: 2em; */
    /* text-align: center; */
}