.current-weather {
    display: flex;
    flex-direction: row;
    align-items:flex-end
}

.current-weather > * {
    margin-left: 20px;
}

.temperature {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.temperature__icon, .precipitation__icon {
    font-size: 2rem;
}

.temperature__measured {
    font-size: 3rem;
}

.temperature__feelslike {
    margin-left: 20px;
}

.precipitation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.weather-icon {
    width: 64px;
}