.current-weather {
    display: flex;
    flex-direction: row;
    align-items:flex-end
}

.current-weather > * {
    margin-left: 20px;
    line-height: 1;
}

.temperature__icon, .precipitation__icon {
    font-size: 2rem;
    align-self: flex-end;
}

.temperature__measured {
    font-size: 2.5rem;
    align-self: flex-end;
}

.temperature__feelslike {
    margin-left: 20px;
    align-self: flex-end;
    line-height: 1.5rem;
}

.weather-icon {
    width: 64px;
}