.forecastElement {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecastElement__icon {
    font-size: 3em;
}

.forecastElement__time {
    font-size: 1.2em;
}

.forecastElement__temperature {
    font-size: 1.3em;
}