.hourly-forecast-card {
    margin-top: 10px;
}

.hourly-forecast {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.hourly-forecast-element:not(:first-child) {
    margin-left: 30px;
}

.hourly-forecast-element__time {
    text-align: center;
}