.app {
  /* background: radial-gradient(farthest-side ellipse at 10% 0,#333867 20%,#17193b);
  background-image: radial-gradient(farthest-side at 10% 0px, rgb(51, 56, 103) 20%, rgb(23, 25, 59)); */

  background-color: #22313a;
  background-color: #131633;
  background-color: #121e2d;
  color: rgba(244,244,245,.8) !important;  
}

.content {
  height: 100vh;
  /* background-color: #0077b6; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.weather__state {
  max-width: 60%;
  margin: 0 auto;
}