.app {
  
}

.content {
  height: 100vh;
  background-color: #0077b6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.weather__state {
  max-width: 60%;
  margin: 0 auto;
}