.header-container {
    color: rgb(47, 93, 138);
    display: flex;
    justify-content: space-between;
}

.search-box {
    padding: 20px;
    min-width: 50%;
}


/* Fix mui grid for search box. For some reason it displays with cancel button at half width*/
.search-box .css-1xh3t33-MuiGrid-root {
    flex-grow: 0 !important;
}

.datetime {
    padding: 20px;
}


.datetime__time {
    font-size: 3rem;
}

.datetime__date {
    font-size: 1.6rem;
}