.header-container {
    color: rgb(47, 93, 138);
    display: flex;
    justify-content: space-between;
}

.datetime {
    padding: 20px;
}


.datetime__time {
    font-size: 3rem;
}

.datetime__date {
    font-size: 1.6rem;
}