.weather {
    color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.weather__icon {
    font-size: 12em;
}

.weather__text {
    font-size: 2em;
}

.weather__temperature {
    margin-left: 30px;
    font-size: 6em;
}