.header-container {
    color: rgb(47, 93, 138);
    display: flex;
    justify-content: space-between;
}

.search-box {
    padding: 20px;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Fix mui grid for search box. For some reason it displays with cancel button at half width*/
.search-box .MuiGrid-item:nth-child(2) {
    flex-grow: 0 !important;
}

.search-box .MuiPaper-root {
    background-color: #051A33 !important;
}

.search-box .MuiSvgIcon-root, .search-box .MuiInputBase-input {
    color: rgb(95, 139, 191) !important;
}

.search-box .react-autosuggest__suggestions-container {
    background-color: #0F2744 !important;
    color: rgb(32, 121, 201) !important;
}

.datetime {
    padding: 20px;
}


.datetime__time {
    font-size: 3rem;
}

.datetime__date {
    font-size: 1.6rem;
}